.header {
  /* width: 1170px; */
  margin: 0 auto;
}

.header_container_1 {
height: 90px;
display: flex;
justify-content: space-around;
align-items: center;
width: 100%;

}

a {
  text-decoration: none;
}


/* ロゴ */

.logo img {
  width: 100%;
  height: 60px;
}

/* リストナビ */
.nav {
  width: 600px;
}

.nav_list {
display: flex;
justify-content: space-between;
list-style: none;
}
.nav_item a {
  color: black;
}


.btn_contact {
  display: block;
  background: linear-gradient( to right, #fd8c3a, #f26601);
  color: #ffffff;
  border-radius: 15px;
  height: 25px;
  text-align: center;
  margin: 0 auto;
  padding: 15px;
  
  }

  .btn_contact2 {
    display: block;
    background: linear-gradient( to right, #fd8c3a, #f26601);
    color: #ffffff;
    border-radius: 15px;
    height: 25px;
    text-align: center;
    margin: 0 auto;
    padding: 15px;
    
    }

  .btn_contact:hover {
    background-color: #ffc9d7;

  }

  .header_container_2 {
    display: none;
  }


  @media (min-width: 1121px) {
    
    .btn_contact2 ,.ba_ga_ {
      display: none;
    }

    }
  @media (max-width: 1120px) {
    .btn_contact ,.ba_ga_ {
      display: none;
    }

  }
  @media (min-width:589px) and (max-width:1120px) {
    .btn_contact ,.ba_ga_ {
      display: none;
    }
    }

  @media (max-width: 589px) {
    .header_container_1 {
      display: none;
    }

    .header_container_2 {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    
  .logo_2 img {
    width: 265px;
    
  }
  .btn_contact3 {
    display: block;
    background: linear-gradient( to right, #fd8c3a, #f26601);
    color: #ffffff;
    border-radius: 15px;
    height: 25px;
    text-align: center;
    margin: 0 auto;
    padding: 15px;
  }

  #ham {
    position: relative;
    display: block;
    width: 60px;
    height: 50px;
    

  }
  #ham span {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 6px;
    background-color: #4e84ff;
    transform: translateY(-50%);
    border-radius: 15px;
  }

  #ham::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: #4e84ff;
    border-radius: 15px;
  }

  #ham::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: #4e84ff;
    border-radius: 15px;
  }

  }

/* 課題２ */
  .sectTit {
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #f26601;
    
  }

  
  .sectTit:after,
  .sectTit:before {
    position: relative;
    display: inline-block;
    content: "";
    width: 4px;
    height: 40px;
    background-color: #f26601;
    margin: 0 1em;
    /* margin-top: - .2em; */
    vertical-align: sub;
  }

  .sectTit:before {
    transform: rotate(-40deg);
  }

  .sectTit:after {
    transform: rotate(40deg);
  }

  /* .sectTit::after {
    content: "";
    display: inline-block;
    width: 4px;
    height: 40px;
    background-color: #f26601;
    position: absolute;
    top: 5px;
    left: 0px;
    transform: rotate(40deg); */
  }

